
.contacto {
    font-family: Arial, sans-serif;
    color: $color-contacto;
    font-size: 18px;
    margin: 20px;
    margin-top: 120px;
    
    .p{
     margin: 7px;
    }
}

.contenedorcontacto{
    margin: 10px 20px
}

.contenedorlabel{
    margin: 15px;
    @include flexbox(column, flex-start, stretch, nowrap);
     
    
     .input{
     background-color: $color-blancoclaro;
     border: none;
     outline: none;
    }

.textarea{
    height: 200px;
    border: none;
    outline: none;
    background-color: $color-blancoclaro;
    border-radius: 2px;
    }

.label{
     font-weight: bold;
     }

}

.contenedorbutton{
     margin: 20px;
    @include flexbox(row, center, stretch, nowrap);
}

.contenedorbutton button{
    @include boton($color-contacto, $color-negro);
}