.h2titulos{
   @extend %tituloh2;
    font-size: 25px;
    margin-top: 110px;
}

.marco2{
   @extend %marco;
   @include flexbox(column, space-between, center, nowrap);
   height: 410px;

 .h3{
    color: $color-negro;
    font-size: 20px;
    margin: auto;
    margin-bottom: 20px;
    font-weight: 700;
 }

.precio{
    color: $color-negro;
    font-size: 17px;
}

.botoncomprar{
    transition: background-color 0.3s ease;
    @include boton($color-negro, $color-blanco)
}


}





.marco2:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px $color-sombra;

}

.marco2:hover .botoncomprar {
  background-color: $color-rojoboton;
  color: $color-negro;
}






.imgescape4{
    width: 270px;
}

.imgcasco{
width:220px ;
}

.imgbota{
  width: 220px; ;  
}

.imgpechera{
    width: 240px; ;
}

.imgpechera2{
    width: 200px; ;
}

.imgguante{
    width: 140px; ;
}

.imgequipo{
  width: 100px; ;  
}

.imgls2{
    width:250px
}

.imgls2guantes{
    width:150px
}

