.imgconocenos1{ 
    width: 100%;
    box-shadow: 0 0 10px $color-sombra;
}


.imgconocenos2{
    display: none;
}

.conocenos{
    margin-top: 100px;
}
    
.textconosenos {
    margin: 15px 40px;
    text-align: center;
}