$color-negro:#000;
$color-blanco:#ffffff;
$color-blancoclaro:#f0f0f0e1;

$color-fondo:#bebebe;
$color-fondologo:#8a8a8a;
$color-grisoscuro:#575757;
$color-borde:#575757a1;
$color-contacto:#808080;
$color-letrafooter:#aaa;
$color-fondofooter:#3a3a3ad0;
$color-divisor:#6b6b6bc9;

$color-rojo:#ad1a1a;
$color-rojoboton:#ad1a1aee;
$color-rojofooter:#ad1a1acb;
$color-rojofuerte:#e62828;

$color-sombra:#00000080;