.logo {
    background-color: $color-fondologo;
   
    padding: 2px;
    margin: 7px;
    width: 6rem;
    
    border-radius: 50%;
    border: 1px solid transparent;
    box-shadow: 0 0 10px $color-sombra;
}


.sobrenosotros {
margin-top: 100px;
}

.sombra-img {
  box-shadow: 0 0 15px $color-sombra; 
  border-radius: 5px; 
}

.tituloh1{
color: $color-negro;
text-align: center;
font-size: 30px;
margin: 30px;
animation: agrandarachicar 2s infinite linear;
}

 @keyframes agrandarachicar {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.1); 
  }
  100% {
    transform: scale(1); 
  }
}

.textconocenos {
color: $color-negro;
margin: 20px;
text-align: center;
}

.btnconocenos{
    color: $color-negro;
    @include flexbox(row, center, stretch, nowrap)
}


