@media (min-width: 1020px){

    /*imagenes*/

.imgconocenos1{
    display: none;
}

.imgconocenos2{
    display: block;
    width: 100%;
    box-shadow: 0 0 10px $color-sombra;
}

/*paginas*/
   .h2titulos{
    @extend %tituloh2;
    font-size: 40px;
    margin-top: 110px;
}


/*contacto */
.contacto {
    font-family: Arial, sans-serif;
    color: $color-contacto;
    text-align: center;
    font-size: 18px;
    margin: 20px;
    margin-top: 120px;
    
}

.contenedorcontacto{
    @include flexbox(column, flex-start, stretch, nowrap);
    margin: 20px 110px;
}





}